
body::before{
    display:block;
    content: "";
    height: 60px;
}

.carousel-item {
    height: 100vh;
    min-height: 350px;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

  .bg-primary{
      background-color: #36244c5 !important;}


  footer p.lead {
        font-size: 0.8rem;
        line-height: 1.2;
       position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: black;
    padding: 10px;
    margin-bottom: 0px;
    text-align: center;
      }
